
  .stock-list {
    display: flex;
    justify-content: space-between;
  }
  
  .stock-section {
    flex: 1;
    padding: 1rem;
  }
  
  .stock-card {
    border: 1px solid #ccc;
    padding: 1rem;
    margin-bottom: 1rem;
    /* background-color: #000000; */
  }
  
  .stock-logo {
    max-width: 100px;
    margin-bottom: 1rem;
  }
  
