.App {
  text-align: center;
}

.app-npm-install {
  background: #286f65;
  padding: 8px;
  border-radius: 3px;
  color: #fff;
  width: 250px;
  margin: 30px auto;
}

p,
li {
  line-height: 1.5;
  margin: 1rem 0;
}



/* 

trying a new chatbot container


*/



.card {
  /* background: #191c29; */
  width: var(--card-width);
  height: var(--card-height);
  padding: 3px;
  position: fixed;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  /* font-size: 1.5em; */
  color: rgb(88 199 250 / 0%);
  cursor: pointer;
  /* font-family: cursive; */
}

.card:hover {
  color: rgb(88 199 250 / 100%);
  transition: color 1s;
}
.card:hover:before, .card:hover:after {
  animation: none;
  opacity: 0;
}


.card::before {
  content: "";
  width: 104%;
  height: 102%;
  border-radius: 8px;
  background-image: linear-gradient(
    var(--rotate)
    , #5ddcff, #3c67e3 43%, #4e00c2);
    position: absolute;
    z-index: -1;
    top: -1%;
    left: -2%;
    animation: spin 2.5s linear infinite;
}

.card::after {
  position: absolute;
  content: "";
  top: calc(var(--card-height) / 6);
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  transform: scale(0.8);
  filter: blur(calc(var(--card-height) / 6));
  background-image: linear-gradient(
    var(--rotate)
    , #5ddcff, #3c67e3 43%, #4e00c2);
    opacity: 1;
  transition: opacity .5s;
  animation: spin 2.5s linear infinite;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}

.app-chatbot-container {
  margin: 40px 0;
  /* display: flex; */
  /* display: relative; */
  /* justify-content: center; */
  position: fixed;
  right: 40px;
  bottom: 40px;
  z-index: 9999;
  /* box-shadow: 5px 5px 13px rgba(91, 81, 81, 0.4); */
  border-radius: 5px;


  /* background-image: linear-gradient(
    var(--rotate)
    , #5ddcff, #3c67e3 43%, #4e00c2); */
    /* position: absolute;
    z-index: -1;
    top: -1%;
    left: -2%;
    animation: spin 2.5s linear infinite; */
}

/* .app-chatbot-button {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: #1f3646;
  border: none;
  position: fixed;
  bottom: 15px;
  z-index: 9999;
  right: 40px;
} */

.btn-neu-rect {
  font-size: 30px;
  color: rgba(0, 0, 0, 0.5);
  border-color: transparent;
  border-style: solid;
  align-items: center;
  background-color: #e0e5ec;
  box-shadow: 9px 9px 16px 0 #a3b1c6, -9px -9px 16px 0 #ffffff;
  border-radius: 10px;
  display: flex;
  height: 50px;
  width: 100%;
  justify-content: center;
  margin-right: 4rem;
  transition: 0.15s;
}

.btn-neu-rect:active {
  outline: 0 !important;
  outline-style: none;
  padding: 0;
  border: 5px solid #ffffff2f;
  box-shadow: inset 5px 5px 16px 0 #a3b1c6, inset -8px -8px 16px 0 #ffffff;
  color: rgba(0, 0, 0, 0.25);
  font-size: 25px;
}

.btn-neu {
  font-size: 100px;
  color: rgba(0, 0, 0, 0.5);
  border-color: transparent;
  border-style: solid;
  align-items: center;
  background-color: #e0e5ec;
  box-shadow: 9px 9px 16px 0 #a3b1c6, -9px -9px 16px 0 #ffffff;
  border-radius: 10px;
  display: flex;
  height: 200px;
  width: 200px;
  justify-content: center;
  margin-right: 4rem;
  transition: 0.15s;
}

.app-quickstart-button {
  color: #fff;
  border: 1px solid #fff;
  text-decoration: none;
  padding: 10px;

  display: block;
  margin: 30px auto;
  width: 150px;
}

.app-chatbot-button-icon {
  width: 25px;
  height: 25px;
  fill: #fff;
}

.app-header {
  color: #fff;
}

.app-paragraph {
  color: #fff;
  max-width: 400px;
  margin: 0 auto;
}

/* .app-overview {
  margin-top: 5rem;
}

.app-overview-gist-container {
  max-width: 500px;
  margin: 2rem auto;
}

.app-gists-link {
  background-color: #53a88b;
  color: #fff;
  padding: 10px;
  border-radius: 3px;
  text-decoration: none;
  width: 250px;
  font-size: 1.1rem;
  margin: 0.5rem 0;
}

.app-gists-link-dark {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  padding: 10px;
  border-radius: 3px;
  text-decoration: none;
  width: 250px;
  font-size: 1.1rem;
  margin: 0.5rem 0;
  transition: background-color 0.4s ease;
}

.app-gists-link-dark:hover {
  background-color: #fff;
  color: rgb(51, 96, 124);
}

.gist {
  max-width: 100%;
}

@media (max-width: 600px) {
  .app-chatbot-container {
    transform: scale(0.9) translateY(26px);
  }
} */




/* .App {
  text-align: center;
}
.options {
  padding-bottom: 15px;
}

.options-header {
  text-align: center;
  font-size: 1rem;
  font-weight: normal;
}

.options-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.option-item {
  padding: 8px 15px;
  border: 1px solid #00b100;

  border-radius: 25px;
  color: #1f91e7;
  font-size: 0.9rem;
  margin: 3px;
  box-shadow: inset 0px 0px 0px #2898ec;
  transition: all 0.5s;
  cursor: pointer;
}

.option-item:hover {
  box-shadow: inset 195px 0px 0px #00b100;

  color: #ffffff;
}

.stats {
  color: white;
  font-size: 0.9rem;
  background-color: rgba(45, 159, 253, 0.589);
  display: flex;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}
.column-left {
  text-align: right;
}
.column-right {
  text-align: left;
  padding: 8px;
}

.url-link {
  font-size: 0.9rem;
  padding: 10px;
  border-radius: 3px;
  background-color: #2273c4;
  display: flex;
  align-items: center;
  color: #fff;
}
.url-icon {
  width: 35px;
  margin-right: 10px;
}
.url-header {
  font-size: 0.9rem;
  font-weight: lighter;
}

.tel-link {
  font-size: 0.7rem;
  padding: 2px 5px;
  border-radius: 30px;
  background-color: #2273c4;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-decoration: none;
  fill: #fff;
}

.app-chatbot-button {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  padding: 10px;
  color: #fff;
  border: none;
  position: fixed;
  bottom: 25px;
  z-index: 9999;
  left: 40px;
  display: relative;
  flex-direction: column;
  align-items: center;
  transition: transform 0.6s ease-in-out;
}
.app-chatbot-button:hover {
  transform: scale(1.1);
}
.app-chatbot-container {
  margin: 40px 0;
  display: flex;
  justify-content: center;
  position: fixed;
  left: 40px;
  bottom: 55px;
  z-index: 9999;
  box-shadow: 5px 5px 13px rgba(91, 81, 81, 0.4);
  border-radius: 5px;
}
.app-chatbot-button-icon {
  fill: #fff;
} */
