.coin-container {
    display: flex;
    justify-content: center;
  }

.scrollingDiv {
   overflow:scroll;
  }
  

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #000000;

  border-radius: 10px;
}


  .coin-row {
    display: inline-block;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid #d7d7d7;
  }
  

  .glass {
  
    background: radial-gradient(#fff2 30%, #fff4);
    border-radius: 20px;
    box-shadow: 5px 5px 10px #0007, -1px -1px 2px #fff, 1px 1px 2px #555;
    backdrop-filter: blur(5px);
    overflow: hidden;
    transform: translateY(25px);
    transition: transform .25s;

        flex-direction: column;
    justify-content: center; 
    align-items: center; 
  }
  .glass:hover {
    transform: scale(1.01);
  }

  .coin {
    display: flex;
    align-items: center;
    /* padding-right: 24px; */
  
  }
  
  .coin h1 {
    font-size: 75%;;
  }
  
  .coin img {
    height: 5px;
    width: 5px;
    height: 10px;
    width: 10px;
    margin-right: 10px;
  }
  
  .coin-symbol {
    text-transform: uppercase;
  }
  
  .coin-data {
    display: flex;
    text-align: right;
    justify-content: space-between;
    width: 100%;
  }
  
  .coin-price {
    width: 75%;
  }
  
  .coin-volume {
    width: 75%;
  }
  
  .coin-marketcap {
    width: 75%;
  }
  
  .coin-percent {
    width: 75%;
  }
  
  .red {
    color: #f00606;
  }
  
  .green {
    color: #11d811;
  }